@using MudBlazor
@using Microsoft.AspNetCore.Components.Routing
@inject NavigationManager NavigationManager

<MudPaper Elevation="0" Class="nav-div">
    <div style="flex: 1">
    <MudNavMenu Color="Color.Info" >
        <MudNavLink Class="nav-link" Icon="@Icons.Material.Filled.Dashboard" Href="/dashboard">Панель управления</MudNavLink>
        <MudNavLink Class="nav-link" Icon="@Icons.Material.Filled.People" Href="/customers">Клиенты</MudNavLink>
        <MudNavLink Class="nav-link" Icon="@Icons.Material.Filled.Inventory" Href="/products">Товары</MudNavLink>
        <MudNavLink Class="nav-link" Icon="@Icons.Material.Filled.ShoppingCart" Href="/orders">Заказы</MudNavLink>
        <MudNavGroup Class="nav-link"  Title="Настройки" Icon="@Icons.Material.Filled.Settings" IconColor="Color.Info" Expanded="false">
            <MudNavLink Class="nav-link" Icon="@Icons.Material.Filled.Storage" Href="/users">Пользователь</MudNavLink>
            <MudNavLink Class="nav-link" Icon="@Icons.Material.Filled.Security" IconColor="Color.Success" Href="/security">Безопасность</MudNavLink>
        </MudNavGroup>
    </MudNavMenu>
    </div>
    <div class="refresh-div">
        <MudTooltip Text="Обновить страницу">
            <MudIconButton class="refresh-btn" Icon="@Icons.Material.Filled.Refresh" OnClick="RefreshPage" Color="Color.Default"  />
        </MudTooltip>
    </div>
</MudPaper>

@code {
    

    private void RefreshPage()
    {
        NavigationManager.NavigateTo(NavigationManager.Uri, forceLoad: true);
    }
}